.product-item{
    cursor: pointer;
    display: block;
    width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    &:hover{
        box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    }
    .product-img{
        width: 100%;
        position: relative;
        padding-top: 56.25%;
        background: #ebebeb center;
        background-size: cover;
    }
    .product-content{
        background-color: white;
        padding: 24px;
        .green-text{
            color: yellowgreen;
            font-weight: bold;
            padding-bottom: 10px;
        }
        .gray-text{
            color: gray;
        }
    }
}
.contests-detail{
    .details-header{
        width: 100%;
        padding: 32px 24px 12px 24px;
        background-color: white;
        border-bottom: 1px solid #bbb;
        .details-time{
            display: flex;
            div{
                display: flex;
                align-items: center;
            }
        }
    }
    .details-nav{
        width: 100%;
        display: flex;
        background-color: white;
        padding-top: 20px;
        .nav-item{
            cursor: pointer;
            padding: 12px 24px;
            border-bottom: 2px solid white;
        }
        .nav-active{
            color: green;
            border-bottom: 2px solid green;
        }
    }
}