.launch-progress-group {
    .progress-item {
        cursor: pointer;
        width: 200px;
    }

    .progress-item {
        .p-center {
            color: white;
        }
    }

    .progress-item:nth-child(5) {
        .p-center {
            color: rgb(255, 157, 169);
        }
    }

    .progress-line {
        width: 124px;
        height: 3px;
        margin-top: 50px;
        margin-left: -50px;
        margin-right: -50px;
    }

    .progress-line:nth-child(2) {
        background-image: linear-gradient(to right, rgb(255, 179, 158), rgb(169, 165, 209));
    }

    .progress-line:nth-child(4) {
        background-image: linear-gradient(to right, rgb(169, 165, 209), rgb(255, 157, 169));
    }
}