.homepage-banner-item{
    width: 100%;
    background-image: url(/images/homepage/banner-top-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
    h1{
        margin-top: 7rem;
    }
    h2{
        margin-bottom: 8rem;
    }
}