.main-header {
    background-color: white !important;
    position: fixed;
    z-index: 100;
    width: 100%;

    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover::after,
    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover::after,
    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active::after,
    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active::after,
    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open::after,
    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open::after,
    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected::after,
    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected::after {
        border: transparent !important;
    }

    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item,
    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu {
        padding: 0;
        margin: 0 1rem;
    }

    a.logo {
        width: 7rem;
        float: left;

        img {
            width: 100%;
        }
    }

    ul.ant-menu {
        border-bottom: none;
    }

    .menu-content {
        height: 100%;

        .left-menu {
            min-width: 27rem;
        }

        .right-menu {
            min-width: 16rem;
            text-align: right;
        }
    }

    .left-menu {
        float: left;
    }

    .right-menu {
        float: right;
    }

    .bars-menu-wrapper {
        height: 100%;
        float: right;
        display: flex;
        align-items: center;
    }

    .bars-menu {
        display: none;
    }

    .bars-btn {
        display: block;
        width: 20px;
        height: 2px;
        background: $primary-color;
        position: relative;
    }

    .bars-btn:after,
    .bars-btn:before {
        content: attr(x);
        width: 20px;
        position: absolute;
        top: -6px;
        left: 0;
        height: 2px;
        background: $primary-color;
    }

    .bars-btn:after {
        top: auto;
        bottom: -6px;
    }

    .ant-menu-submenu.ant-menu-submenu-active,
    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover,
    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover,
    .ant-menu-item.ant-menu-item-selected,
    .ant-menu-submenu.ant-menu-submenu-selected {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;

        a {
            color: $primary-color;
        }
    }

    .ant-menu-item:hover {
        .ant-space-item {
            color: $primary-color;
        }
    }

    .ant-menu-submenu-title:hover {
        color: $primary-color;
    }

    @media (max-width: 991px) {
        .bars-menu {
            display: inline-block;
        }

        .left-menu,
        .right-menu {
            display: none;
        }
    }
}