.invite-status-values{
    &>div{
        border: 1px solid $primary-color;
        border-left: none;
        &:first-child{
            border-left: 1px solid $primary-color;
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }
        &:last-child{
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }
    }
}