$primary-color:#75AC2A;
$danger-color:#df315e;
$secondary-color:#8bc53b;
$third-color:#abe741;
$fourth-color:#679825;
$fifth-color:#f7ffe6;
$sixth-color:#bbd391;
$primary-background-color:#faf8f5;
$secondary-background-color:#ecf1f4;